@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  font-family: 'Poppins', sans-serif;
}

*{
  box-sizing: border-box;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 7px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(160, 160, 160); 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(99, 99, 99); 
}